.article_out_contain{
    margin-right: 10vw;
    margin-left: 10vw;
    text-align: left;
}

@media screen and (min-width: 728px){
    .article_in_contain{
        width: 728px;
    }
}

.article_in_contain{
    margin-right: auto;
    margin-left: auto;
    display: block;
    box-sizing: border-box;
}

.post_top h1{
    font-family: 'Joliet';
    font-size: 63px;
    font-weight: 1000;
    margin-bottom: 19px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}

a:active{
    text-decoration: none;
    color: black;
}

.post_top h3{
    font-family: 'Glacial';
    margin-top: 10px;
    font-weight: 550;
    font-size: 40px;
}

.post_top #time{
    margin-top: -25px;
    font-family: 'Glacial';
    font-weight: 500;
    font-size: 16px;
}

.post_top #lead-in{
    font-family: 'Glacial';
    font-weight: 500;
    font-size: 18px;
}


.content p, figcaption{
    font-family: 'Glacial';
    font-size: 19px;
}

.article_subhead{
    font-family: "Spartan";
    font-weight: 700;
    font-size: 30px;
}

.article_sub_subhead{
    font-family: "Glacial";
    font-weight: 600;
    font-size: 23px;
}

.image_in img{
    max-width: 87%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post_top #image {
    max-width: 87%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption{
    margin-top: 10px;
    text-align: center;
    font-size: 21px;
}

section{
    padding-top: 2vh;
}

div #ref{
    word-wrap: break-word;
}

.ref h3{
    font-family: "Spartan";
    font-size: 30px;
}

.ref p{
    font-family: "Glacial";
    font-size: 19px; 
}
