@font-face {
    font-family: DegularDisplayDemoBold;
    src: url("/fonts/DegularDisplayDemo-Bold.otf");
  }

@font-face {
    font-family: DegularDisplayDemoLight;
    src: url("/fonts/DegularDisplayDemo-Light.otf");
}

@font-face {
    font-family: DegularDisplayDemoMedium;
    src: url("/fonts/DegularDisplayDemo-Medium.otf");
}

@font-face {
    font-family: DegularDisplayDemoRegular;
    src: url("/fonts/DegularDisplayDemo-Regular.otf");
}

@font-face {
    font-family: DegularDisplayDemoSemiBold;
    src: url("/fonts/DegularDisplayDemo-Semibold.otf");
}

@font-face {
    font-family: DegularDisplayDemoThin;
    src: url("/fonts/DegularDisplayDemo-Thin.otf");
}

@font-face {
    font-family: DegularTextDemoThin;
    src: url("/fonts/DegularTextDemo-Thin.otf");
}