* {
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}


.articlesmall a:hover {
    text-decoration: none;
    color: yellowgreen;
    cursor: pointer;

}


.button_fot button:hover {
    text-decoration: none;
    color: yellowgreen;
    cursor: pointer;

}



body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 100%;
    object-fit: contain;
}

.article_in_contain {
    margin-right: auto;
    margin-left: auto;
    display: block;
    box-sizing: border-box;
}

.article_out_contain {
    margin-right: 10vw;
    margin-left: 10vw;
    text-align: left;
}

@media screen {
    .article_in_contain {
        max-width: 100%;
        width: 80%;
    }
}

.text_front a:hover {
    color: yellowgreen;
}

@media screen and (min-width: 1050px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
    }

    .container1 {
        display: none;
    }

    .topnav2 {
        display: none;
    }
}

@media screen and (max-width: 1050px) {
    .topnav {
        display: none;
    }

    .container1 {
        display: inline-block;
        cursor: pointer;
    }

    .topnav2 {
        display: none;
        flex-direction: column;
        color: white;
        display: block;
    }

}

/*important fonts*/
@font-face {
    font-family: "Joliet";
    src: url(../joliet-regular.otf);
}

@font-face {
    font-family: "Glacial";
    src: url("../glacial.otf");
}

@font-face {
    font-family: "Spartan";
    src: url("../spartan.ttf");
}

@font-face {
    font-family: "lovelo";
    src: url("../lovelo.otf");
}

/*media*/
@media only screen and (max-width:1288px) {
    .topnav a {
        float: none;
    }

}

/*lovely header that wasted one week because of typos :>*/
header {
    margin: 0;
    position: sticky;
    height: 80px;
    top: 0;
    z-index: 999;
    font-family: Joliet;
    width: 100%;
    background-color: black;
}

/*logo css*/
.logo {
    margin: 0;
    max-width: 235px;
    max-height: 80px;
    float: left;
}

.logo img {
    height: 100%;
    width: 100%;
}


.topnav button#donate {
    align-self: center;
    border-radius: 30%;
    background-color: whitesmoke;
    color: black;
    border-color: black;
    border-style: solid;
    font-family: "Joliet";
    cursor: pointer;
    margin-top: 0;
    float: right;
    font-size: 30px;
}

.topnav button#donate:active {
    text-decoration: none;
}

.topnav button#donate:hover {
    color: yellowgreen;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. 
This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    float: right;
    position: relative;
}

.toptop {
    display: flex;
    align-items: center;
}




/* Style the links inside the navigation bar */
.topnav a:nth-child(n+1) {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: yellowgreen;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}



.fa {
    text-decoration: none;
    color: black;
    padding-left: 1vw;
}

.fa:active {
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

/*ISSUES DISPLAY: BLOCK*/
.issue_display a {
    display: flex;
    width: 100px;
}

/*FOOTER ><*/
footer {
    margin-top: auto;
    font-family: "Joliet";
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
    background-color: #D3D3D3;
    padding: 10px 20px;
}

.footer {
    font-weight: 600;
    letter-spacing: 0.3vw;
    width: 100%;
}

.address {
    font-size: 20px;
    font-style: normal;
    text-align: left;
    position: relative;
    display: block;
}

.copy {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: static;
}

.copyright {
    text-align: center;
    color: rgba(45, 20, 20, 0.626);
    letter-spacing: 2px;
    font-weight: 900;
    display: block;
}

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.top_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*all text html????,HTML*/
.modal {
    height: 300px;
    position: relative;
    text-align: center;
    background-color: #1f2937;
}

.modal .text {
    font-family: "lovelo";
    font-size: 85px;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    color: gainsboro;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    text-decoration: underline;
    text-underline-position: under;
}

.agenda {
    padding-left: 3vh;
}

.box-article:first-child {
    margin-top: 3vw;
}

.box-article:last-of-type {
    border-bottom: 0px;
}

.box-article {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vw;
    border-bottom: 2px black solid;
    margin-bottom: 2vw;
    width: 50vw;
    margin-left: 5vw;
}

.box-article {
    font-family: 'Glacial';
}


.ari-title {
    font-family: 'Joliet';
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
}

.ari-author {
    font-weight: normal;
}

.ari-author a {
    font-weight: bolder;
    text-decoration: none;
    color: black;
    font-family: 'lovelo';
    font-size: 22px;
}

.articlesmall p {
    font-family: 'Glacial';
}

.articlesmall h3 {
    height: 40px;
    font-family: Joliet;
    letter-spacing: 2px;
    font-weight: 650;
}

.type p {
    font-family: 'Glacial';
}

.things p {
    font-family: 'Joliet';
    font-size: 24px;
}

.textee {
    font-family: 'Glacial';
}

.button_fot p {
    font-family: 'Glacial';
}

.honor {
    margin-top: 90px;
    background-size: 100%;
    position: relative;

}

.honor::before {
    content: "";
    background-image: url(../homepage/honor.png);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 275px;
    left: 0px;
    opacity: 0.5;
    border-radius: 10%;
}

.honor h3 {
    margin-left: 25px;
    color: black;
    font-family: Joliet;
    letter-spacing: 3px;
    font-size: 30px;
    font-weight: 659;
    position: relative;
    margin-top: 14px;
    width: 20px;
}

.honor p {
    margin-left: 25px;
    line-break: 6px;
    color: black;
    font-family: Joliet;
    letter-spacing: 3px;
    position: relative;
    font-size: 28px;
    margin-top: 130px;
    font-weight: 800;
    padding-bottom: 0;
    margin-bottom: 10px;
}

.honor #description {
    margin-left: 25px;
    line-break: 6px;
    font-family: 'Glacial';
    letter-spacing: 3px;
    position: relative;
    font-size: 23px;
    margin-top: 0;
    padding: 0;
    font-weight: 100;
}

.second::before {
    content: "";
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 275px;
    background-image: url(../homepage/new.png);
    left: 0px;
    opacity: 0.5;
    border-radius: 10%;
}

.second p {
    margin-right: 31px;
    line-break: 6px;
    color: black;
    font-family: Joliet;
    letter-spacing: 3px;
    position: relative;
    font-size: 28px;
    margin-top: 130px;
    font-weight: 800;
    padding-bottom: 0;
    margin-bottom: 10px;
}

.second #description {
    margin-right: 31px;
    line-break: 6px;
    color: black;
    font-family: 'Glacial';
    letter-spacing: 3px;
    position: relative;
    font-size: 23px;
    margin-top: 0;
    padding: 0;
    font-weight: 100;
}

.second {
    margin-top: 90px;
    background-size: 100%;
    position: relative;
    border-radius: 20%;
}

.second h3 {
    margin-right: 31px;
    font-family: Joliet;
    letter-spacing: 3px;
    font-size: 32px;
    font-weight: 900;
    position: relative;
    margin-top: 14px;
}

.sideoff {
    margin-left: 3.5px;
}

.newsletter {
    width: 100%;
    height: 70vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../homepage/newsletter.png);
}

#mc_embed_shell {
    position: relative;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}