html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 100%;
    object-fit: contain;
}

@media screen and (min-width: 1050px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
    }

    .container1{
        display: none;
    }
    .topnav2{
        display: none;
    }
}

@media  screen and (max-width: 1050px) {
    .topnav{
        display: none;
    }

    .topnav2{
        display: none;
        flex-direction: column;
        color: white;
        background-color: black;
    }
    
}
/*important fonts*/
@font-face {
    font-family: "Joliet";
    src: url(../joliet-regular.otf);
}

@font-face {
    font-family: "Glacial";
    src: url("../glacial.otf");
}

@font-face {
    font-family: "Spartan";
    src: url("../spartan.ttf");
}

@font-face {
    font-family: "lovelo";
    src: url("../lovelo.otf");
}

/*media*/
@media only screen and (max-width:1288px) {
    .topnav a {
        float: none;
    }
    
}

/*lovely header that wasted one week because of typos :>*/
header {
    margin: 0;
    position: sticky;
    height: 80px;
    top: 0;
    z-index: 999;
    font-family: Joliet;
    width: 100%;
    background-color: black;
}

/*logo css*/
.logo {
    margin: 0;
    max-width: 235px;
    max-height: 80px;
    float: left;
}

.logo img {
    height: 100%;
    width: 100%;
}


.topnav button#donate {
    align-self: center;
    border-radius: 30%;
    background-color: whitesmoke;
    color: black;
    border-color: black;
    border-style: solid;
    font-family: "Joliet";
    cursor: pointer;
    margin-top: 0;
    float: right;
    font-size: 30px;
}

.topnav button#donate:active {
    text-decoration: none;
}

.topnav button#donate:hover {
    color: yellowgreen;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. 
This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    float: right;
    position: relative;
}

.toptop{
    display: flex;
    align-items: center;
}




/* Style the links inside the navigation bar */
.topnav a:nth-child(n+1) {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: yellowgreen;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}


.container1{
    color: blue;
    padding: 10px;
}


.fa{
    text-decoration: none;
    color: black;
    padding-left: 1vw;
}

.fa:active{
    text-decoration: none;
}
.fa:hover{
    opacity: 0.7;
}

/*ISSUES DISPLAY: BLOCK*/
.issue_display a {
    display: flex;
    width: 100px;
}

/*FOOTER ><*/
footer {
    margin-top: auto;
    font-family: "Joliet";
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
    background-color: #D3D3D3;
    padding: 10px 20px;
}

.footer {
    font-weight: 600;
    letter-spacing: 0.3vw;
    width: 100%;
}

.address{
    font-size: 20px;
    font-style: normal;
    text-align: left;
    position: relative;
    display: block;
}

.copy {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: static;
}

.copyright{
    text-align: center;
    color:rgba(45, 20, 20, 0.626);
    letter-spacing: 2px;
    font-weight: 900;
    display: block;
}
.icon{
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.top_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*all text html????,HTML*/
.modal {
    height: 300px;
    position: relative;
    text-align: center;
    background-color: #1f2937;
}

.modal .text {
    font-family: "lovelo";
    font-size: 85px;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    color: gainsboro;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    text-decoration: underline;
    text-underline-position: under;
}

.agenda {
    padding-left: 3vh;
}

.box-article:first-child {
    margin-top: 3vw;
}

.box-article:last-of-type {
    border-bottom: 0px;
}

.box-article {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vw;
    border-bottom: 2px black solid;
    margin-bottom: 2vw;
    width: 50vw;
    margin-left: 5vw;
}

.box-article {
    font-family: 'Glacial';
}


.ari-title {
    font-family: 'Joliet';
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
}

.ari-author {
    font-weight: normal;
}

.ari-author a {
    font-weight: bolder;
    text-decoration: none;
    color: black;
    font-family: 'lovelo';
    font-size: 22px;
}
